.chat-field {
  height: 290px;
  overflow-y: auto;
}
.chat-field__messages-time {
  display: block;
  text-align: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #828282;
}
