.chat-box {
  min-width: 20%;
  width: 100%;
  border-radius: 6px 6px 0 0;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  -webkit-user-select: text;
  -moz-user-select: text;
}
