.header {
  height: 32px;
  background-color: #2979ff;
}
.header__name-surname {
  float: left;
  color: white;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 8px 0 2px 8px;
  cursor: pointer;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.header__name-surname_friend1::after {
  content: 'Kristaps Elsins';
  visibility: visible;
}
.header__name-surname_friend2::after {
  content: 'Gary Oldman';
  visibility: visible;
}
.header__activity-state {
  float: left;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  margin: 13px 0 0 13px;
}
.header__activity-state_active {
  background-color: #69f0ae;
}
.header__menu {
  margin: 0;
  float: right;
  padding-right: 1px;
}
.header__menu-item {
  display: inline-block;
  float: left;
  background: no-repeat center;
  height: 32px;
  padding-left: 26px;
  cursor: pointer;
}
.header__menu-item_background-plus {
  background-image: url(../icons/Plus.svg);
}
.header__menu-item_background-video {
  background-image: url(../icons/Video.svg);
}
.header__menu-item_background-cog {
  background-image: url(../icons/Cog.svg);
}
.header__menu-item_background-close {
  background-image: url(../icons/Close.svg);
}
